* {

    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("img/photo-1783020878609-ee2f05b4d3ae.avif")
}
.cabecalho {
  background-color: #0f4275;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.cabecalho-link {
  color: #fff;
  text-decoration: none;
}

h1 {
  color: #fff;
  font-size: 24px;
}

main {
  flex: 1;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}
footer {
background-color: #04aef2;
padding: 15px 25px;
color: #184ac1;
}